<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="header :: head">
<meta charset="utf-8">

</head>
<body>
	<div class="container">
		<div class="box">
			<!-- <img th:src="@{/images_upload/default.jpg}" height="100" width="100"
			class="img-responsive pull-right"> -->
			<h1
				style="display: flex; justify-content: center; align-items: center; color: rgb(170, 37, 37); font-family: Trebuchet MS;">ADMIN</h1>
            <br>
			<form action="logar" method="post" style="display: flex; flex-direction:column; justify-content: center; align-items: center;">
				<div class="form-group" style="width: 250px;">
					<input type="text" class="form-control"
						placeholder="Digite o seu login" id="login" name="login" required />
				</div>
				<div class="form-group" style="width: 250px;">
					<input type="password" class="form-control"
						placeholder="Digite a sua senha" id="senha" name="senha" required />
				</div>
				<button type="submit" class="btn btn-primary">Logar</button>
			</form>

			<div style="display: flex; justify-content: center; align-items: center;" th:include="footer :: copy" ></div>
		</div>
	</div>
	<style>
.container {
	width: 100vw;
	height: 100vh;
	background: #6C7A89;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center
}

.box {
	width: 300px;
	height: 300px;
	background: #fff;
	border: 2px solid black;
	border-radius: 25px;
}

body {
	margin: 0px;
}
</style>
</body>
</html>